@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
  }

.page-footer {
  background-color:black;
}

.text-uppercase {
  color: white;
  text-align: center;
  margin-top: 5%;
}

.list-unstyled {
  color: white;
  text-align: center;
}

.about-line{
  border-right-style: solid;
  color:#2FCE98 ;
}
.about-marge{
  /* border-style: solid; */
  border-block-width: unset;
  margin-top: 3%;
}

.about {
  text-align: center;
  border-width: 1px;
  /* border-style: solid; */
  margin: 2pc;
  padding-left: 2cm;
  padding-right: 2cm;
}
.col-md-3{
  padding: 0%;
}

.img-fluid{
  width: 100%;
  padding: 0%;
}
