@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
}
.img-fluid{
 
    width: 100%;
  
}
#start-section {
  background-image: url(http://bazaarmodels.com/images/bazaar-models-color-block02.jpg);
  height:100vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;  
  justify-content: flex-start;
  align-items: center;
}

.start-section-content {
  text-align: center;
}

.start-title {
  font-size: 80px;
  word-wrap: break-word;
  color: #FFF;
}


.page-footer {
  background-color:black;
}

.list-unstyled {
  color: white;
  text-align: center;
}

/* ------------------------- */
/* Products */
/* ------------------------- */
.products a{
  display: block;
  overflow: hidden;
  
}
.products img{
  transition: all .3s ease;
}
.products a:hover img{
  transform: scale(1.1);
}
.product [class*="col-md-3"] {
  padding: .5rem;
}
a img{
  width: 100%;
}

.categories{
  display: flex;
  justify-content: center;
}

.categories a{
  color:#9b9b9b;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.categories a.active{
  color:#2FCE98
}

.filter-option:hover
{
    color:#2FCE98;
}
.product_content
{
	border: solid 2px #dbdbdb;
}
.product_name
{
	max-width: 175px;
}
.product_name a
{
  text-decoration: none;
	font-size: 18px;
	line-height: 1.2;
	color: #4a4a4a;
	font-weight: 500;
}
.product_name a:hover,
.product_category a:hover
{
	color: #2fce98;
}
  

/*----------------    CESAR   CSS  START  --------------*/
a.nav-link:hover{
  color: #2FCE98 !important;
}

a.nav-link.active{
  color: #2FCE98!important;
}


.fa-shopping-cart{
  padding-right: 50px;
  font-size: 20px;
}


.features{
    background-color: #7C7C7C;
}
.features img{
    width: 100px;
    height: 100px;
}

/*----------------   CESAR   CSS  END  --------------*/

/*----------------   CARLOS   CSS  START  --------------*/

.text-uppercase {
  color: white;
  text-align: center;
  margin-top: 5%;
}

.col-md-3{
  padding: 0%;
}

.about-line{
  border-right-style: solid;
  color:#2FCE98 ;
}
.about-marge{
  border-block-width: none;
  margin-top: 3%;
}

.about {
  text-align: center;
  border-width: 1px;
  margin: 2pc;
  padding-left: 2cm;
  padding-right: 2cm;
}
/*----------------   CARLOS   CSS  END  --------------*/
