@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
  }

.page-footer {
  background-color:black;
}

.text-uppercase {
  color: white;
}

.list-unstyled {
  color: white;
}

#about {
  text-align: center;
}