@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
}
/*----------------   CESAR   CSS  --------------*/
.features-content img{
    width: 50px;
    height: 50px;
}

.features{
    background-color: gray;
}

.col img{
    text-align: center;
    margin-bottom: 10px;
}

.features-content{
    text-align: center;
}
.features-content p{
    text-align: center;
    color: white;
}
.features-content p:hover{
color: #2FCE98;
}

.features-content a{
    text-decoration: none;
}
/*----------------   CESAR   CSS  --------------*/
