@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
  }

/*----------------   CESAR   CSS  --------------*/
.navbar-brand{
    color: black;
}

.navbar-title:hover{
    color: white;
}

.features{
    background-color: #7C7C7C;
}
.features img{
    width: 100px;
    height: 100px;
}

/*----------------   CESAR   CSS  --------------*/