@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary {
    background-color: #2FCE98;
  }

.primary {
    background-color: #2FCE98;
}
.img-fluid{
  width: 100%;
}
#start-section {
  background-image: url(http://bazaarmodels.com/images/bazaar-models-color-block02.jpg);
  height:100vh;
  background-attachment: fixed;
  background-size: cover;
  display: flex;  
  justify-content: flex-start;
  align-items: center;
}

.start-section-content {
  text-align: center;
}

.start-title {
  font-size: 80px;
  word-wrap: break-word;
  color: #FFF;
}


.page-footer {
  background-color:black;
}

.list-unstyled {
  color: white;
  text-align: center;
}

/* ------------------------- */
/* Products */
/* ------------------------- */
.products a{
  display: block;
  overflow: hidden;
  
}
.products img{
  transition: all .3s ease;
}
.products a:hover img{
  transform: scale(1.1);
}
.product [class*="col-md-3"] {
  padding: .5rem;
}
/* a img{
  width: 100%;
} */

.categories{
  display: flex;
  justify-content: center;
}

.categories a{
  color:#9b9b9b;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.categories a.active{
  color:#2FCE98
}

.filter-option:hover
{
    color:#2FCE98;
}
/* ------------------------- */
/* Modal Dialog*/
/* ------------------------- */
.modal-dialog{
  width: 260px;
}
.modal-body{
  padding: 0em 0em 0em 0em;
}
.product_content
{
	border: solid 2px #dbdbdb;
}
.product_name a
{
  text-decoration: none;
	font-size: 17px;
	line-height: 1.2;
	color: #4a4a4a;
  font-weight: 500;
  margin-left: 5px;
  width: 95%;
}
.product_name a:hover{
	color: #2fce98;
}
  

/*----------------    CESAR   CSS  START  --------------*/
.footer-bottom{
    text-align: center;
}

.fab{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
   
}

.fab:hover{
color: #2FCE98;
}
.footer-bottom .row a{
    text-decoration:none;
    color:gray;
}
.page-footer {
    background-color:black;
    text-align: center;
  }


.features-content img{
    width: 50px;
    height: 50px;
}

.features{
    background-color: gray;
}

.col img{
    text-align: center;
    margin-bottom: 10px;
}

.features-content{
    text-align: center;
}
.features-content p{
    text-align: center;
    color: white;
}
.features-content p:hover{
color: #2FCE98;
}

.features-content a{
    text-decoration: none;
}

a.nav-link:hover{
  color: #2FCE98 !important;
}

a.nav-link.active{
  color: #2FCE98!important;
}


.fa-shopping-cart{
  padding-right: 50px;
  font-size: 20px;
}


.features{
    background-color: #7C7C7C;
}
.features img{
    width: 100px;
    height: 100px;
}

/*----------------   CESAR   CSS  END  --------------*/

/*----------------   CARLOS   CSS  START  --------------*/

.text-uppercase {
  color: white;
  text-align: center;
  margin-top: 5%;
}

.col-md-3{
  padding: 0%;
}

.about-line{
  border-right-style: solid;
  color:#2FCE98 ;
}
.about-marge{
  border-block-width: none;
  margin-top: 3%;
}

.about {
  text-align: center;
  border-width: 1px;
  margin: 2pc;
  padding-left: 2cm;
  padding-right: 2cm;
}
/*----------------   CARLOS   CSS  END  --------------*/
.rating_r i:not(:last-of-type)
{
	margin-right: 4px;
}
.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 15px;
	color: #4a4a4a;
}
.home_item_large .rating_r i::before
{
	color: #FFFFFF;
}
.product_price
{
	font-size: 30px;
	color: #4a4a4a;
	font-weight: 500;
  margin-top: 19px;
  margin-bottom: 10px;
	line-height: 0.75;
}
